@font-face {
  font-family: "The Sans";
  src: url("./fonts/TheSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "The Sans", sans-serif;
}

.main__hero-heading {
  letter-spacing: 5px;
}

p {
  letter-spacing: 1px;
}

body {
  background-color: #272727;
  overflow-x: hidden;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 0 auto;
  max-width: 1460px;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
  margin-top: 15px;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
}

.navbar__navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4vw;
  list-style: none;
  font-size: 2.2dvh;
}

.navbar__menu-item a {
  text-decoration: none;
  color: #fbf5f1;
  font-size: 25px;
  line-height: 1;
  padding: 0.5rem;
  font-weight: 500;
  transition: 0.3s;
}

.navbar__menu-item a:hover {
  text-decoration: underline;
}

.btn--primary {
  border: 2px solid #fcd5dc;
  background-color: #fcd5dc;
  padding: 1vw 2.7vw;
  border-radius: 50px;
  font-size: larger;
  cursor: pointer;
  transition: 0.3s;
}

.btn--primary:hover {
  background-color: #272727;
  color: white;
  transform: translate3d(0px, -3px, 0px) scale3d(1.05, 1.05, 1.05);
}

.navbar__menu-toggle {
  display: none;
  align-items: center;
}
.navbar__menu-toggle span {
  display: block;
  width: 42px;
  height: 4px;
  background-color: #fcd5dc;
  border-radius: 2px;
  margin-top: 5px;
}

.main__container {
  height: calc(100vh - 126px);
  position: relative;
  z-index: 11;
}

.main__balls-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 4vw;
  z-index: 10;
}

.main__ball {
  width: 40px;
  height: 40px;
  background-color: #e67d63;
  border-radius: 50%;
}

.main__hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 40px 75px;
  height: 100%;
}

.main__hero .text-wrap {
  width: 100%;
  flex: 1;
}

.main__hero .secondary-text-container {
  padding: 0 10px;
}

.main__hero-heading {
  font-size: 126px;
  line-height: 1;
  color: #fbf5f1;
  font-weight: 400;
}

.main__service-sub-heading {
  font-size: 130px;
  letter-spacing: 5px;
  line-height: 1;
  color: #fbf5f1;
  text-align: right;
  position: absolute;
  bottom: 10%;
  right: 11px;
  font-weight: 400;
}

.main__service-description {
  font-size: 1.38rem;
  margin: 0;
  color: #fbf5f1;
  padding: 0 30px;
}

.main__solutions {
  background-color: #f8f1ec;
  width: 100%;
  display: flex;
  padding: 200px 40px 35px;
  font-size: x-large;
  position: relative;
  flex-direction: column;
}

.main__solutions-heading {
  font-size: 95px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 95px;
  margin-left: -25px;
  letter-spacing: -3px;
}

.main__solutions-heading img {
  display: inline-block;
  vertical-align: middle;
  width: 113px;
  height: auto;
}

.btn--purple {
  border: 2px solid #c4b2f6;
  background-color: #c4b2f6;
  padding: 32px 60px;
  font-size: 25px;
  line-height: 1;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px 0;
}

.btn--purple:hover {
  background-color: #272727;
  color: white;
  transform: translate3d(0px, -3px, 0px) scale3d(1.05, 1.05, 1.05);
}

.solutions_card {
  width: 100%;
  height: 100%;
  background-color: #272727;
  color: white;
  border-radius: 15px;
  padding: 230px 60px;
  margin-top: 210px;
}

.card__container {
  width: 100%;
  margin: 0 auto;
}

.card__heading {
  padding: 20px;
  font-size: 60px;
  line-height: 2;
  font-weight: 500;
}

.card__tag--green {
  border: 1px solid #77764c;
  background-color: #77764c;
  color: #d3d382;
  border-radius: 12px;
  padding: 15px 10px;
  white-space: nowrap;
}

.card__tag--purple {
  border: 1px solid #6f658b;
  background-color: #6f658b;
  color: #aa9acc;
  border-radius: 5px;
  padding: 15px 10px;
  white-space: nowrap;
  border-radius: 12px;
}

.main__case-studies {
  background-color: #ffffff;
  color: #2a2a2a;
  padding: 138px 0px;
}
.case-studies__heading {
  font-size: 85px;
  font-weight: 400;
  line-height: 1.2;
}
.case-card__container {
  margin-top: 100px;
  border-radius: 90px;
  padding-bottom: 280px;
  position: relative;
  font-weight: 600;
  transition: transform 0.4s ease-out;
  overflow: hidden;
}

.case-card__container * {
  position: relative;
  z-index: 2;
}

.case-card__container .bg {
  background: url("./assets/bg__card.svg") 50% 50% / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition: transform 0.6s ease-out;
}

.case-card__container:hover {
  transform: translateY(-15px);
  cursor: pointer;
}

.case-card__container:hover .bg {
  transform: scale3d(1.2, 1.2, 1);
}

.case-card__sub-heading {
  padding-top: 150px;
  font-size: 61px;
  padding-left: 49px;
  font-weight: 400;
}
.btn--white {
  border: none;
  background-color: #ffffff;
  padding: 32px 60px;
  font-size: 25px;
  line-height: 1;
  border-radius: 50px;
  box-shadow: #f8f1ec;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 50px;
  position: absolute;
  bottom: 45px;
  left: 45px;
}

.main__case-studies .btn-holder {
  text-align: right;
}

.green-btn-holder {
  text-align: right;
}

.experiences {
  background-color: #f8f1ec;
  padding: 60px 0;
}

.experiences img {
  width: 100%;
}

.experiences .cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.experiences .card {
  width: 25%;
  padding: 0 8px;
}
.experiences .card .card-content:hover {
  transform: scale(1.05);
  border: 2px solid #aa9acc;
  border-radius: 20px;
}

.experiences .card-content {
  height: 535px;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.section-header h2 {
  font-size: 80px;
  font-weight: 500;
  margin-top: 65px;
}

.block-header h3 {
  font-size: 25px;
  font-weight: 100;
  opacity: 0.4;
}

.posts {
  margin-top: 100px;
}

.logo-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: white;
  padding: 10px 0;
  margin-top: 5em;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 7rem;
  animation: slideLeft 20s linear infinite;
  width: max-content;
}

.logo-wrapper img {
  height: 50px;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.block-header h3 {
  margin-bottom: 50px;
}

.experiences .card-image {
  height: 175px;
}

.experiences .card-image img {
  height: 100%;
  object-fit: cover;
}

.experiences .content-bottom {
  height: calc(100% - 175px);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.experiences .content-bottom .text-wrap {
  flex: 1;
}

.experiences .content-bottom h4 {
  font-size: 30px;
  line-height: 1.2;
}

.experiences .user-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.experiences .user-profile strong {
  font-size: 25px;
  line-height: 1;
}

.experiences .user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.btn--orange {
  border: 2px solid #ed7a5f;
  background-color: #ed7a5f;
  padding: 32px 60px;
  font-size: 25px;
  line-height: 1;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 56px;
  transition: transform 0.3s ease-in-out;
}
.btn--orange:hover {
  background-color: #272727;
  color: white;
  transform: translate3d(0px, -3px, 0px) scale3d(1.05, 1.05, 1.05);
}

.btn--green {
  border: 2px solid #ddda7a;
  background-color: #ddda7a;
  padding: 32px 60px;
  font-size: 25px;
  line-height: 1;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 56px;
}
.text-wrap h4 {
  font-weight: 500;
}

.btn--green:hover {
  background-color: #272727;
  color: white;
  transform: translate3d(0px, -3px, 0px) scale3d(1.05, 1.05, 1.05);
}

footer {
  background: #272727;
  color: #f5f2eb;
  position: relative;
  font-family: Arial, sans-serif;
  padding: 125px 10px 50px;
}

footer .content-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 2;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 270px;
}

.footer-nav {
  display: flex;
  max-width: 300px;
  width: 100%;
  text-align: left;
  margin: 0 -84px;
}

.footer-nav ul {
  padding: 0 84px;
}

.footer-nav ul li {
  margin-bottom: 25px;
}

.footer-nav ul li a {
  text-decoration: none;
  color: #f5f2eb;
  font-size: 25px;
  line-height: 1;
}

.footer-buttons {
  margin: 30px 0;
}

.call-button,
.team-button {
  padding: 28px 80px;
  border: none;
  border-radius: 41px;
  font-size: 26px;
  line-height: 1;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.call-button {
  background: #fff;
  color: black;
  margin-right: 10px;
  border: 2px solid #fff;
}

.team-button {
  background: #c5a6f7;
  color: black;
  border: 2px solid #c5a6f7;
}
.call-button:hover,
.team-button:hover {
  background-color: #272727;
  color: white;
  transform: translate3d(0px, -3px, 0px) scale3d(1.05, 1.05, 1.05);
}

.footer-nav ul li:hover {
  text-decoration: underline;
}

.footer-hero-text {
  font-size: 145px;
  font-weight: bold;
  line-height: 1.1;
  position: relative;
  text-align: left;
}

.circle {
  position: absolute;
  width: 450px;
  height: 450px;
  background: #ed7a5f;
  border-radius: 50%;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.footer-bottom a {
  display: inline-block;
  background: transparent;
  border: 1px solid #f5f2eb;
  padding: 22px 27px;
  border-radius: 25px;
  color: #f5f2eb;
  text-decoration: none;
  font-size: 20px;
  margin: 50px 15px;
}
.footer-bottom a:hover {
  background-color: white;
  color: black;
  border: none;
}
.footer-hero-text span {
  font-weight: 300;
}

.social-links a {
  font-size: 28px;
  font-weight: 200;
  padding: 24px;
  border-radius: 35px;
}

.credits {
  font-size: 27px;
  opacity: 0.6;
  margin-top: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.credits:hover {
  font-size: 30px;
  opacity: 1;
}
.user-profile h2 {
  font-weight: 300;
}

@media (max-width: 1439px) {
  .main__hero {
    padding: 15px 40px 35px;
  }

  .main__hero-heading {
    font-size: 100px;
  }

  .main__balls-container {
    gap: 2vw;
  }

  .main__service-sub-heading {
    font-size: 80px;
  }

  .main__container {
    height: calc(100vh - 112px);
  }

  .main__service-description {
    padding: 0;
    font-size: 1rem;
  }

  .main__solutions {
    padding: 110px 60px 35px;
  }

  .main__solutions-heading {
    font-size: 65px;
    margin-bottom: 65px;
  }

  .solutions_card {
    margin-top: 150px;
    padding: 40px;
  }

  .card__heading {
    font-size: 40px;
    line-height: 2.2;
  }

  .main__case-studies {
    padding: 108px 40px;
  }

  .case-studies__heading {
    font-size: 75px;
  }

  .case-card__sub-heading {
    padding-top: 100px;
    font-size: 50px;
    padding-left: 30px;
  }

  .section-header h2 {
    font-size: 60px;
    margin-top: 0;
  }

  .experiences {
    padding: 60px 40px;
  }

  .posts {
    margin-top: 80px;
  }

  .experiences .content-bottom h4 {
    font-size: 20px;
  }

  .experiences .card-content {
    height: 485px;
  }

  .user-profile h2 {
    font-size: 17px;
    line-height: 1;
  }

  footer {
    padding: 100px 20px 50px;
  }

  .footer-info {
    margin-bottom: 230px;
  }

  .footer-hero-text {
    font-size: 105px;
  }

  .call-button,
  .team-button {
    font-size: 20px;
    line-height: 1;
    padding: 25px 65px;
  }
}

@media (max-width: 1023px) {
  .main__container {
    height: calc(100vh - 65px);
  }

  .navbar {
    padding: 2px 19px;
    margin-top: 20px;
  }

  .navbar__menu-item a {
    font-size: 14px;
  }

  .navbar__logo {
    width: 90px;
  }
  .navbar__logo img {
    max-width: 100%;
  }

  .btn--primary {
    font-size: 14px;
  }

  .main__hero {
    padding: 55px 21px;
  }

  .main__hero-heading {
    font-size: 80px;
  }

  .main__balls-container {
    gap: 3.5vw;
  }

  .main__ball {
    width: 25px;
    height: 25px;
  }

  .main__service-sub-heading {
    font-size: 77px;
    position: absolute;
    font-weight: 400;
    bottom: 143px;
    right: 15px;
  }

  .secondary-text-container {
    position: static !important;
  }

  .main__service-description {
    font-size: 1rem;
    padding: 0;
  }

  .main__hero .secondary-text-container {
    padding: 0;
  }

  .main__solutions {
    padding: 113px 15px 20px;
  }

  .main__solutions .heading-block {
    padding: 0 60px;
  }

  .main__solutions-heading {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 38px;
    margin-left: 0;
  }

  .main__solutions-heading img {
    width: 50px;
  }

  .btn--purple {
    padding: 17px 37px;
    font-size: 13px;
  }

  .solutions_card {
    margin-top: 100px;
    padding: 149px 57px;
  }

  .card__tag--green,
  .card__tag--purple {
    padding: 10px 6px;
  }

  .card__heading {
    padding: 0;
    font-size: 30px;
    line-height: 2.2;
  }

  .card__tag {
    font-size: 20px;
    padding: 8px 3px;
    white-space: nowrap;
  }

  .main__case-studies {
    padding: 70px 80px;
  }

  .case-studies__heading {
    font-size: 50px;
  }

  .case__card {
    margin-top: 43px;
  }

  .case-card__container {
    margin-top: 30px;
    border-radius: 45px;
    padding-bottom: 155px;
  }

  .case-card__sub-heading {
    font-size: 32px;
    padding: 75px 25px 0;
  }

  .btn--white {
    padding: 15px 33px;
    bottom: 27px;
    left: 24px;
    font-size: 13px;
  }

  .btn--orange {
    margin-top: 32px;
    padding: 16px 36px;
    font-size: 14px;
  }

  .sponsors {
    margin-top: 80px;
  }

  .experiences {
    padding: 10px 0;
  }

  .experiences .posts {
    padding: 12px 78px 64px;
    margin-top: 30px;
  }

  .experiences .section-header {
    padding: 0 79px;
  }

  .experiences .section-header h2 {
    font-size: 46px;
    line-height: 1.3;
  }

  .experiences .card {
    margin-bottom: 20px;
  }

  .experiences .block-header h3 {
    font-size: 16px;
    margin-bottom: 28px;
  }

  .experiences .card-content {
    height: 398px;
  }

  .experiences .content-bottom {
    padding: 22px 12px 15px;
  }

  .experiences .content-bottom .text-wrap {
    margin-bottom: 25px;
  }

  .experiences .content-bottom h4 {
    font-size: 16px;
    line-height: 1.5;
  }

  .experiences .user-image {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  .btn--green {
    padding: 15px 30px;
    font-size: 15px;
    margin-top: 3px;
  }

  .user-profile h2 {
    font-size: 14px;
  }

  footer {
    padding: 120px 53px 60px;
  }

  footer .content-wrap {
    text-align: left;
  }

  .footer-info {
    flex-wrap: wrap;
    margin-bottom: 270px;
  }
  .footer-nav {
    margin: 0 -50px;
    padding: 0 25px;
  }

  .footer-nav ul {
    padding: 0 50px;
  }

  .footer-nav ul li {
    margin-bottom: 17px;
  }

  .footer-nav ul li a {
    font-size: 15px;
  }

  .footer-buttons {
    margin: 18px 0;
  }

  .call-button,
  .team-button {
    padding: 16px 43px;
    font-size: 15px;
  }

  .circle {
    width: 450px;
    height: 450px;
    top: 188px;
  }

  .footer-hero-text {
    font-size: 80px;
  }

  .footer-bottom {
    justify-content: flex-start;
    margin-top: 55px;
  }

  .footer-bottom a {
    padding: 15px 30px;
    margin: 4px 0;
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    margin-left: 18px;
    flex: 1;
  }

  .social-links a {
    border-radius: 100%;
    height: 55px !important;
    width: 55px !important;
    font-size: 15px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .social-links a:first-child {
    margin-right: 10px;
  }

  .credits {
    font-size: 15px;
  }
}

@media (max-width: 967px) {
  .main__ball {
    width: 20px;
    height: 20px;
  }

  .main__hero-heading {
    font-size: 60px;
    font-weight: 400;
  }

  .main__service-sub-heading {
    font-size: 57px;
  }

  .main__service-description {
    font-size: 13px;
  }

  .main__solutions {
    padding: 83px 15px 20px;
  }

  .main__solutions .heading-block {
    padding: 0 40px;
  }

  .main__solutions-heading {
    font-size: 40px;
    margin-bottom: 28px;
  }

  .experiences .card {
    width: 50%;
  }

  .solutions_card {
    margin-top: 80px;
    padding: 80px 57px;
  }

  .experiences .posts {
    padding: 14px 50px 64px;
  }

  .experiences .user-image {
    width: 25px;
    height: 25px;
  }

  .user-profile h2 {
    font-size: 12px;
  }

  .circle {
    width: 400px;
    height: 400px;
    top: 158px;
  }

  .footer-info {
    margin-bottom: 220px;
  }

  .footer-hero-text {
    font-size: 70px;
  }
}

@media (max-width: 767px) {
  .main__container {
    height: calc(100vh - 47px);
  }

  .navbar {
    padding: 2px 19px;
  }

  .navbar__logo {
    width: 70px;
  }
  .navbar__logo img {
    max-width: 100%;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__menu-toggle {
    display: block;
  }

  .btn--primary {
    display: none;
  }

  .main__hero {
    padding: 13px 17px 50px;
  }

  .main__hero-heading {
    font-size: 61px;
    font-weight: 400;
    padding-top: 40px;
  }

  .main__balls-container {
    gap: 3vw;
    top: 46%;
  }

  .main__ball {
    width: 18px;
    height: 18px;
  }

  .secondary-text-container {
    position: static !important;
  }

  .main__service-description {
    font-size: 1rem;
    padding: 0;
  }

  .main__hero .secondary-text-container {
    padding: 0;
  }

  .main__solutions {
    padding: 110px 15px 15px;
  }

  .main__solutions .heading-block {
    padding: 0;
  }

  .main__solutions-heading {
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
  }

  .main__solutions-heading img {
    width: 56px;
  }

  .btn--purple {
    padding: 22px 30px;
    font-size: 13px;
  }

  .solutions_card {
    margin-top: 70px;
    padding: 46px 16px;
  }

  .card__heading {
    padding: 0;
    font-size: 26px;
    line-height: 1.7;
  }

  .card__tag--green,
  .card__tag--purple {
    font-size: 20px;
    padding: 6px 3px;
  }

  .main__case-studies {
    padding: 63px 16px;
  }

  .case-studies__heading {
    font-size: 35px;
  }

  .case__card {
    margin-top: 32px;
  }

  .case-card__container {
    margin-top: 30px;
    border-radius: 15px;
    padding-bottom: 115px;
  }

  .case-card__sub-heading {
    font-size: 27px;
    padding: 47px 10px 0;
  }

  .btn--white {
    padding: 20px 25px;
    bottom: 8px;
    left: 10px;
    font-size: 13px;
  }

  .btn--orange {
    margin-top: 35px;
    padding: 22px 28px;
    font-size: 13px;
  }

  .sponsors {
    margin-top: 80px;
  }

  .experiences {
    padding: 10px 0 68px;
  }

  .experiences .posts {
    padding: 12px;
    margin-top: 38px;
  }

  .experiences .section-header {
    padding: 0 10px;
  }

  .experiences .section-header h2 {
    font-size: 34px;
    line-height: 1.3;
  }

  .experiences .block-header h3 {
    margin-bottom: 20px;
  }

  .experiences .card {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 12px;
  }

  .experiences .card-content {
    height: auto;
  }

  .experiences .card-image {
    display: none;
  }

  .experiences .content-bottom {
    height: auto;
    padding: 18px 15px;
  }

  .experiences .content-bottom .text-wrap {
    margin-bottom: 25px;
  }

  .experiences .content-bottom h4 {
    font-size: 20px;
    line-height: 1.5;
  }

  .experiences .user-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  .btn--green {
    padding: 22px 20px;
  }

  .user-profile h2 {
    font-size: 14px;
  }

  footer {
    padding: 40px 10px 50px;
  }

  footer .content-wrap {
    text-align: left;
  }

  .footer-info {
    flex-wrap: wrap;
    margin-bottom: 235px;
  }

  .footer-nav {
    max-width: none;
    margin: 0 -50px;
    padding: 0 25px;
  }

  .footer-nav ul {
    padding: 0 50px;
  }

  .footer-nav ul li {
    margin-bottom: 17px;
  }

  .footer-nav ul li a {
    font-size: 15px;
  }

  .footer-buttons {
    width: 100%;
    margin: 0;
  }

  .call-button,
  .team-button {
    padding: 20px 25px;
    font-size: 15px;
  }

  .circle {
    width: 290px;
    height: 290px;
    top: 175px;
  }

  .footer-hero-text {
    font-size: 35px;
  }

  .footer-bottom {
    margin-top: 20px;
  }

  .footer-bottom a {
    padding: 20px;
    font-size: 14px;
    margin: 10px 6px;
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
  }

  .social-links a {
    border-radius: 100%;
    height: 60px !important;
    width: 60px !important;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .social-links a:first-child {
    margin-right: 15px;
  }

  footer .link-wrap {
    width: 100%;
  }

  .credits {
    font-size: 15px;
  }
}

@media (max-width: 520px) {
  .main__balls-container {
    gap: 2vw;
    top: 46%;
  }

  .main__ball {
    width: 16px;
    height: 16px;
  }
}
